* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fffdfb;
  color: #333;
}

.cabecalho {
  position: relative;
  background-color: #F6ECE3;
  padding-bottom: 30px; /* espaço para o avatar sobreposto */
}

.logo-topo {
  width: 100%;
  max-height: 240px;
  object-fit: cover;
  display: block;
}

/* AVATAR SOBREPOSTO */
.avatar-wrapper {
  position: absolute;
  bottom: -35px;
  left: 16px;
  background: #fff;
  padding: 4px;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  z-index: 10;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #ccc;
}

/* INFO LOJA */
.info-loja {
  padding: 33px 16px 16px;
  border-bottom: 1px solid #eee;
}

.linha-loja {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: -32px; /* puxa tudo para cima, encaixa com o avatar */
}

.dados h1 {
  font-size: 18px;
  margin-left: 90px;

}

.dados p {
  font-size: 13px;
  color: #666;
  margin-top: 4px;
  margin-left: 90px;
}

.aviso {
  font-size: 13px;
  color: #388e3c;
  margin-top: 6px;
}

.linha-divisoria {
  border: none;
  border-top: 1px solid #ddd;
  margin-top: 12px;
}

/* PRODUTOS */
.titulo-secao {
  background: #f3f3f3;
  padding: 0;
  width: 100%;
}

.titulo-secao .container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 15px;
}

.titulo-secao h2 {
  font-size: 14px;
  color: #3d3d3d;
  font-weight: 700;
  margin: 0;
}

.linha-ativa {
  width: 64px;
  height: 3px;
  background-color: #444;
  margin: 4px 0;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 15px;
}

.conteudo {
  padding: 0px 0 60px;
}

.subtitulo {
  font-size: 14px;
  color: #666;
  margin: 0px 0 10px;
}

/* PRODUTO EM DESTAQUE */
.grid-produtos {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.produto {
  min-width: 130px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
}

.produto img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 8px;
}

.produto .nome {
  font-size: 14px;
}

.produto .preco {
  font-size: 13px;
  color: #666;
}

/* LISTA */
.lista .item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 8px;
  padding: 10px;
}

.item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

.texto {
  flex: 1;
  margin-right: 10px;
}

.texto p {
  font-size: 13px;
  margin: 4px 0;
}

.texto span {
  font-weight: bold;
  font-size: 14px;
}

/* RODAPÉ */
.rodape {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #fff;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  font-size: 13px;
}

.rodape a {
  text-decoration: none;
  color: #555;
  text-align: center;
}
